.container {
	text-align: center;
}

.unit {
	margin: auto;
	width: 1200px;
	height: 600px;
	border: 1px solid green;
}

.panel {
	margin: auto;
	width: 1200px;
	height: 160px;
	border: 1px solid green;
}

.row {
	padding: 10px;
	height: 160px;
	border: 1px solid blue;
}

.column {
	padding: 10px;
	height: 524px;
	border: 1px solid blue;
}

.left-section {
	float: left;
	width: 80%;
}

.right-section {
	float: right;
	width: 20%;
}

ul {
	list-style-type: none;
}

li {
	float: left;
}

.room {
	margin-left: 0px;
	width: 200px;
	height: 120px;
	border: 1px solid #c5c5c5;
	background-color: #BC9CB0;
}

.room .beds {
	display: table;
	position: relative;
	left: 20px;
	top: 20px;
	width: 60px;
	height: 60px;
}

.room .bed {
	display: table-cell;
	width: auto;
	margin-left: 2px;
	border: 1px solid #c5c5c5;
	background-color: white;
}

.room label {
	display: inline-block;
	width: 100%;
	height: 20px;
	background-color: #564750;
	color: white;
	text-align: center;
	padding-top: 5px;
}

.nurse-room {
	margin-top: 12px;
	width: 180px;
	height: 240px;
	border: 1px solid #c5c5c5;
	background-color: #BBDB9B;
}

.nurse-room label {
	display: inline-block;
	width: 100%;
	height: 20px;
	background-color: #667855;
	color: white;
	text-align: center;
	padding-top: 5px;
}

.operation-room {
	margin-top: 1px;
	width: 180px;
	height: 250px;
	border: 1px solid #c5c5c5;
	background-color: #83A0A0;
}

.operation-room label {
	display: inline-block;
	width: 100%;
	height: 20px;
	background-color: #546666;
	color: white;
	text-align: center;
	padding-top: 5px;
}

.xray-room {
	margin-left: 1px;
	width: 400px;
	height: 120px;
	border: 1px solid #c5c5c5;
	background-color: #56876D;
}

.xray-room label {
	display: inline-block;
	width: 100%;
	height: 20px;
	background-color: #375646;
	color: white;
	text-align: center;
	padding-top: 5px;
}

.doctors-office {
	margin-left: 1px;
	width: 400px;
	height: 120px;
	border: 1px solid #c5c5c5;
	background-color: #6279B8;
}

.doctors-office label {
	display: inline-block;
	width: 100%;
	height: 20px;
	background-color: #3F4E76;
	color: white;
	text-align: center;
	padding-top: 5px;
}

button {
	margin: 20px;
	width: 200px;
	height: 80px;
}
